/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
@import "tailwindcss";


@theme {
    --color-primary: #D90A14;
    --color-secondary: #CD4E17;
    --color-primaryVar1: #C30912;
    --color-primaryVar2: #AE0810;
    --color-primaryVar3: #5B0408;
    --color-primaryVar4: #77060B;
    --color-primaryVar5: #D90A14;
    --color-primaryLight: #FAB5E7;
    --color-secondaryVar1: #B94615;
    --color-secondaryVar2: #A43E12;
    --color-secondaryVar3: #712B0D;
    --color-grey: #1D1D1D;
    --color-greyLight: #262626;
    --color-greyText: #888888;
    --color-greyTextVar1: #A9A9A9;
    --vazirmatn: "Vazirmatn";
    --gagalin: "Gagalin";
}
@utility top-minus-* {
    /*top: calc(100vh - var(--spacing) * --value(integer)); !* handle numbers e.g. h-screen-minus-12 *!*/
    top: calc(50% - --value([length])); /* handle arbitrary values e.g. h-screen-minus-[20px] */
}

@utility top-plus-* {
    /*top: calc(100vh - var(--spacing) * --value(integer)); !* handle numbers e.g. h-screen-minus-12 *!*/
    top: calc(50% + --value([length])); /* handle arbitrary values e.g. h-screen-minus-[20px] */
}

@font-face {
    font-family: "Vazirmatn";
    src: local("Vazirmatn-VariableFont_wght"),
    url("./assets/fonts/Vazirmatn-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Gagalin";
    src: local("Gagalin-Regular"),
    url("./assets/fonts/Gagalin-Regular.otf") format("opentype");
}

html {
    @apply bg-grey;
}

.container {
    @apply mx-auto px-4 md:px-2 xl:max-w-7xl;
}

/* for birthDate input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}


/* used in Trainer.tsx */
/*.no-scrollbar::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

/*.no-scrollbar {*/
/*    -ms-overflow-style: none;*/
/*    scrollbar-width: none;*/
/*}*/